<ion-view view-title="Discover" class="hsc-discover">
    <ion-content>
      <div class="row responsive-sm">
        <div class="card col">
          <a href="#/app/discover/interview">
            <div class="item item-body ">
              <div class="item item-icon-left assertive">
                <i class="icon ion-volume-high"></i>
              </div>
            </div>
          </a>
          <div class="item item-divider">
            <h2>From Old to New</h2>
          </div>
          <div class="item item-body">
            <p>Listen to Tim Schadla-Hall (UCL Institue of Archeology)
              remembering old currency and the
              changeover to decimal currency.</p>
          </div>
        </div>
        <div class="card col">
          <a href="#/app/discover/buying_power">
            <div class="item item-body">
              <div class="item item-icon-left assertive">
                <i class="icon ion-pie-graph"></i>
              </div>
            </div>
          </a>
          <div class="item item-divider">
            <h2>Buying Power</h2>
          </div>
          <div class="item item-body">
            <p>These images of vintage emphera show everyday
            purchases and activities.</p>
          </div>
        </div>
        <div class="card col">
          <a href="#/app/discover/expedition_costs">
            <div class="item item-body ">
              <div class="item item-icon-left assertive">
                <i class="icon ion-document-text"></i>
              </div>
            </div>
          </a>
          <div class="item item-divider">
            <h2>Explore Expedition Costs</h2>
          </div>
          <div class="item item-body">
            <p>Archeological archives are full of bills.
            Archeologists kept accounts of all their expenditure
            on travel, supplies and wages.
            Explore some annotated bills to find out more.</p>
          </div>
        </div>
      </div>
      <div class="row responsive-sm">
        <div class="card col">
          <a href="#/app/discover/out_about">
            <div class="item item-body ">
              <div class="item item-icon-left assertive">
                <i class="icon ion-ios-list"></i>
              </div>
            </div>
          </a>
          <div class="item item-divider">
            <h2>Out and About</h2>
          </div>
          <div class="item item-body">
            <p>Discover some ordinary costs associated with
            London tourism in 1900.</p>
          </div>
        </div>
        <div class="card col">
          <a href="#/app/discover/currency_terms">
            <div class="item  item-body">
              <div class="item item-icon-left assertive">
                <i class="icon ion-cash"></i>
              </div>
            </div>
          </a>
          <div class="item item-divider">
            <h2>Currency Terms</h2>
          </div>
          <div class="item item-body">
            <p>Pre-decimal currency had its own vocabulary, which is now obsolete.
            Learn the old names and nicknames for currency.</p>
          </div>
        </div>
        <div class="card col">
          <a href="#/app/discover/credits">
            <div class="item item-body ">
              <div class="item item-icon-left assertive">
                <i class="icon ion-images"></i>
              </div>
            </div>
          </a>
          <div class="item item-divider">
            <h2>Credits</h2>
          </div>
          <div class="item item-body">
            <p>Find out more about the creation of the app and
            the content featured, and the resources for further research.</p>
          </div>
      </div>
    </div>
</ion-content>
</ion-view>
