<ion-view view-title="Settings">
  <ion-content>
    <h5 style="padding-left:10px;">Default email address</h5>
    <h5></h5>
    <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email">
    </label>
    <h5 style="padding-left:10px;">  Select default currencies</h5>
    <h5></h5>
    <div class="list">
        
        <label class="item item-input item-select">
            <div class="input-label">
                £  Pound
            </div>
            <select>
                <option>Blue</option>
                <option selected>Green</option>
                <option>Red</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                /- Shilling
            </div>
            <select>
                <option>Blue</option>
                <option selected>Green</option>
                <option>Red</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                d  Pence
            </div>
            <select>
                <option>Blue</option>
                <option selected>Green</option>
                <option>Red</option>
            </select>
        </label>
    </div>

    <h5 style="padding-left:10px;">  Additional Settings</h5>
    <h5></h5>
    <ul class="list">

        <li class="item item-toggle">
            Show Hints
            <label class="toggle toggle-assertive">
                <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                    </label>
        </li>
        <li class="item item-toggle">
            Convert to NF
            <label class="toggle toggle-assertive">
                <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                    </label>
        </li>

    </ul>

  </ion-content>
</ion-view>
