<ion-view view-title="Currency Terms">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <div class="hsc-discover_content">
          <table class="rwd-table">
            <tr>
              <th>Currency Terms</th>
              <th>Value</th>
            </tr>
            <tr>
              <td data-th="Currency Term">Guinea</td>
              <td data-th="Value">21 shillings or 252 pence</td>
            </tr>
            <tr>
              <td data-th="Currency Term">Pound (also known as "sovereign", "quid", £)</td>
              <td data-th="Value">20 shilling or 240 pence (20s)</td>
            </tr>
            <tr>
              <td data-th="Currency Term">Crown</td>
              <td data-th="Value">5 shillinds or 60 pence (5s)</td>
            </tr>
            <tr>
              <td data-th="Currency Term">Half-crown (also known as "two and six")</td>
              <td data-th="Value">2 shillings and 6 pence or 30 pence (2/6 or 2s 6d)</td>
            </tr>
            <tr>
              <td data-th="Currency Term">Florin</td>
              <td data-th="Value">2 shillings or 24 pence (2s)</td>
            </tr>
            <tr>
              <td data-th="Currency Term">Shilling (also known as "bob", shorthand s.)</td>
              <td data-th="Value">12 pence (1s)</td>
            </tr>
            <tr>
              <td data-th="Currency Term">Sixpence</td>
              <td data-th="Value">6 pence (6d)</td>
            </tr>
            <tr>
              <td data-th="Currency Term">Threepence ("thruppence", "thruppy'ny bit")</td>
              <td data-th="Value">3 pence (3d)</td>
            </tr>
            <tr>
              <td data-th="Currency Term">Tuppence</td>
              <td data-th="Value">2 pence (2d)</td>
            </tr>
            <tr>
              <td data-th="Currency Term">Penny (shorthand d - from <i>denarius</i>)</td>
              <td data-th="Value">1 penny (1d)ss</td>
            </tr>
            <tr>
              <td data-th="Currency Terms">Halfpenny (ha'penny)</td>
              <td data-th="Value">1/2 penny (1/2d)</td>
            </tr>
           <tr>
              <td data-th="Currency Term">Farthing</td>
              <td data-th="Value">1/4 penny (1/4d)</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
