<ion-view view-title="Some Entertainment Expenses	in 1900">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <div class="hsc-discover_content">
          <table class="rwd-table">
            <tr>
              <th>Item</th>
              <th>Cost</th>
            </tr>
            <tr>
              <td data-th="Item">"Dinner from the Joint" (meat, potato, cheese, and vegetables)
                at Simpsons Restaurant, Strand, London </td>
              <td data-th="Cost">21s 9d</td>
            </tr>
            <tr>
              <td data-th="Item">Drinks: Bitter, beer, ale or stout</td>
              <td data-th="Cost">1 1/2d - 2d</td>
            </tr>
            <tr>
              <td data-th="Item"><i>The Times</i> newspaper</td>
              <td data-th="Cost">3d</td>
            </tr>
            <tr>
              <td data-th="Item"><i>Evening Standard</i> newspaper</td>
              <td data-th="Cost">1d</td>
            </tr>
            <tr>
              <td data-th="Item">Cab fare from Victoria Station to the British Musem</td>
              <td data-th="Cost">1s 6d</td>
            </tr>
            <tr>
              <td data-th="Item">Charing Cross Station to Baker Street by Omnibus</td>
              <td data-th="Cost">1d-2d</td>
            </tr>
            <tr>
              <td data-th="Item">Ticket to Savoy Theatre (for Gilbert & Sullivan operettas)</td>
              <td data-th="Cost">Stalls 10s 6d; balcony 7s 6d or 6s;
                first circle 4s; pit 2s 6d; amphitheatre 2s; gallery 1s.</td>
            </tr>
            <tr>
              <td data-th="Item">Ticket to the Hippodrome Music Hall, near Leicester Square </td>
              <td data-th="Cost">Between 7s 6d and 1s; 6d for a programme</td>
            </tr>
            <tr>
              <td data-th="Item">Ticket to Madame Tussaud’s Waxworks</td>
              <td data-th="Cost">1s (additional 6d for Chamber of Horrors)</td>
            </tr>
            <tr>
              <td data-th="Item">Ticket to Wembley Park</td>
              <td data-th="Cost">6d</td>
            </tr>
            <tr>
              <td data-th="Item">Ticket to the Royal Academy exhibition</td>
              <td data-th="Cost">1s (additional 1s for catalogue)</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
